{% extends 'base.html' %}

{% block searchbox %}
  {# don't show this on anon homepage #}
{% endblock %}

{% block content %}
  <div class="home-hero">
    <h1 class="home-media" style="font-size: 8.5vw; border-bottom: 5px solid white; color: white; -webkit-text-stroke-width: .1rem; -webkit-text-stroke-color: black;">What's <b>up</b></h1>
    <h4 class="home-media" style="font-size: 6.5vw; color: white; -webkit-text-stroke-width: .1rem; -webkit-text-stroke-color: black;"><b>New to Speaker Box?</b></h4>
    <p class="home-media-small" style="font-size: 3.5vw; -webkit-text-stroke-width: .1rem; -webkit-text-stroke-color: black;"><b>Sign up now to be heard!</b></p>
    <a href="/signup" class="btn btn-primary">Sign up</a>
  </div>
{% endblock %}